/node_modules
/package-lock.json
/build
/typing/data-provider
/typing/types/schema.d.ts
/typing/types/ini.d.ts
/var/*.pid
/src/TestSchema
/var/log/*.log
/var/static/editor/*/*
/var/static/avatar/*/*
/var/static/logo/*/*
/var/static/equip/*/*
/var/static/equiptype/*/*
/var/static/halfbody/*/*
/var/static/shipcert/*/*
/var/static/schematic/*/*
/var/static/background/*/*
/var/static/shipcheck/*/*
/var/static/shipequip/*/*
/var/static/shiptempfix/*/*
/var/static/shipnoonreport/*/*
/var/static/stock/*/*
/var/static/shiptpm/*/*
/var/tmp/*
/test
/tsconfig.tsbuildinfo
.DS_Store
.vscode/*